*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   header{
     font-size: 24px;
   }
   div{
     width:600px;
     margin: auto;
     box-shadow: 0 0 10px rgba(77, 77, 77, 0.7);

     button{
       background: none;
       border: none;
       box-shadow: 0 0 10px rgba(77, 77, 77, 0.7);
     }
   }

   button{
     background: blue;
     color: white;
   }
}
